/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #000;
  min-height: 100vh;
  color: #fff;
}

.app {
  padding: 64px 32px;
  display: flex;
  flex-direction: column;
  background-color: #000f3d;
  border-radius: 10px;
}

h1 {
  margin-top: 10px;
}

.button {
  font-size: large;
  font-weight: bold;
  color: #fff;
  padding: 32px 64px;
  border-radius: 10px;
  background-color: orangered;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff7f00;
  cursor: pointer;
}

.button:active {
  background-color: #ff4500;
  transform: scale(0.95);
}

.red {
  color: red;
}

.blue {
  color: blue;
}
